<div class="match-dialog">

  <!-- Wrapper for the home team information -->
  <div class="match-wrapper-dialog">
    <div class="home-team-dialog">

      <!-- Title for the home team -->
      <h1 class="team-title-dialog"></h1>

      <!-- Image wrapper for the home team's logo -->
      <div class="img-wrapper-dialog">
        <img class="team-logo-dialog" [src]="" width="100%">
      </div>
    </div>
  </div>

  <!-- Wrapper for match information -->
  <div class="info-wrapper-dialog">

    <!-- "VS" label -->
    <h2 class="vs-dialog">VS</h2>

    <!-- Wrapper for date and time information -->
    <div class="date-time-wrapper-dialog">

      <!-- Paragraph for displaying date and time -->
      <p class="date-time-dialog"></p>
    </div>
  </div>

  <!-- Wrapper for the away team information -->
  <div class="match-wrapper-dialog">
    <div class="away-team-dialog">

      <!-- Title for the away team -->
      <h1 class="team-title-dialog"></h1>

      <!-- Image wrapper for the away team's logo -->
      <div class="img-wrapper-dialog">
        <img class="team-logo-dialog" [src]="" width="100%">
      </div>
  </div>
  </div>
</div>
