<!-- Scores section containing the scores table -->
<section class="scores">

  <!-- Container for scores content -->
  <div class="scores-container">

    <!-- Wrapper for the scores title -->
    <div class="scores-title-wrapper">

      <!-- Scores title -->
      <h3 class="scores-title">Scores</h3>
    </div>
  </div>

  <!-- Scores data table -->
  <table class="scores-data">

    <!-- Table header row -->
    <thead class="table-row">
        <tr class="header-table">

          <!-- Header cells for quarters, home, and away -->
          <th class="quartHead head">Quarter</th>
          <th class="homeHead head">Home</th>
          <th class="awayHead head">Away</th>
        </tr>
    </thead>

    <!-- Table body for scores data -->
    <tbody>

      <!-- Row for the first quarter -->
      <tr class="first">
        <td class="row">First</td>

        <!-- Cells for home and away scores in the first quarter -->
        <td id="first-td-data" class="home-quart1"></td>
        <td class="away-quart1"></td>
      </tr>

      <!-- Row for the second quarter -->
      <tr class="second">
        <td class="row">Second</td>

        <!-- Cells for home and away scores in the second quarter -->
        <td id="first-td-data" class="home-quart2"></td>
        <td class="away-quart2"></td>
      </tr>

      <!-- Row for the third quarter -->
      <tr class="third">
        <td class="row">Third</td>

        <!-- Cells for home and away scores in the third quarter -->
        <td id="first-td-data" class="home-quart3"></td>
        <td class="away-quart3"></td>
      </tr>

      <!-- Row for the fourth quarter -->
      <tr class="fourth">
        <td class="row">Fourth</td>

        <!-- Cells for home and away scores in the fourth quarter -->
        <td id="first-td-data" class="home-quart4"></td>
        <td class="away-quart4"></td>
      </tr>

      <!-- Row for the total scores -->
      <tr class="total">
        <td class="row">Total</td>

        <!-- Cells for home and away total scores -->
        <td id="first-td-data" class="home-total"></td>
        <td class="away-total"></td>
      </tr>
    </tbody>
  </table>
</section>
